# Environnement de la base de données
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_DATABASE=mydatabase
MARIADB_USER=myuser
MARIADB_PASSWORD=mypassword
MARIADB_PORT=3306
MARIADB_HOST=127.0.0.1

# Environnement de l'API
PORT=3000
JWT_SECRET=RTmkN6Z+1BFnw4Jf/CiN98oeGRCcggrtoKSIJiD/q8w=